<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="TestAutomation" verbose="1">
    <parameter name="FirstParameter" value="Automation"></parameter>
    <parameter name="SecondParameter" value="Test"></parameter>

    <test name="TestParameters">
        <groups>
            <run>
                <include name="all"></include>
                <exclude name="dataProvider"></exclude>
            </run>
        </groups>
        <classes>
            <class name="Parameters.TestParameters"></class>
            <class name="dataProvider.TestWithDataProvider"></class>
        </classes>
    </test>

</suite>
